<body>
<meta /><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /><link rel="stylesheet" href="https://campbellhc.github.io/engagehireclix/stylesheets/bootstrap.min.css" /> <link rel="stylesheet" href="https://campbellhc.github.io/engagehireclix/stylesheets/swiper.min.css" /> <link rel="stylesheet" href="https://campbellhc.github.io/engagehireclix/stylesheets/nivo-lightbox.css" /> <link rel="stylesheet" href="https://campbellhc.github.io/engagehireclix/stylesheets/themes/default/default.css" /> <link id="toTypography" href="https://campbellhc.github.io/engagehireclix/stylesheets/typography/typography-1.css" rel="stylesheet" /> <link rel="stylesheet" href="https://hireclix.github.io/hchosting/stylesheets/style_interactiveint.css" /> <link id="toColor" href="https://hireclix.github.io/hchosting/stylesheets/colors/interactiveint_color.css" rel="stylesheet" />
<div id="page" class="page">
<section class="home app-home-2 image-bg transparent-overlay text-center editBG" id="app-home-2">
<div class="container">
<div class="row">
<div class="col-sm-6 col-sm-offset-3 text-center">
<div class="logo-home"><img src="https://hireclix.github.io/hchosting/images/inin/logo-inverted.svg" alt="Your Logo" width="288" height="80" /></div>
<h2 class="heading-text" style="font-size: 40.0px;"><br />Jump start your career <br />without having to leave campus!</h2>
<hr style="width: 250.0px;" />
<h3 class="heading-text" style="font-size: 18.0px; max-width: 400.0px; margin: 0 auto;"><br />Work with Interactive Intelligence as we transform the way organizations engage the world&mdash;right where you are at Anderson University.</h3>
<br /><br />
<div align="center">
<div style="max-width: 300.0px; background-color: #ffffff;"><input style="font-size: 12px; color: #ffffff; text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.3); border: none; padding: 1px 2px; text-align: center; background-color: #3d87cf; border-radius: 3px; display: inline-block; width: 260px; height: 390px;" type="button" value="[Join-Us-App]" disabled="disabled" /></div>
</div>
<div>
<div><br /> <br />&nbsp;</div>
</div>
</div>
</div>
</div>
</section>
<section class="features app-features-5 padding-50-0 secondary-bg" id="app-features-5-2">
<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">
<div class="section-heading text-center">
<div class="logo-home"><img src="https://campbellhc.github.io/engagehireclix/images/inin/2015inin_logo_stacked_hz.png" alt="Your Logo" width="288" height="80" /></div>
<h3 class="heading-text"><br />Work for a company that believes in big ideas, hard work and open minds.</h3>
<hr class="lines" /><br />
<p class="text-big text-dark">As a paid intern for Interactive Intelligence, you&rsquo;ll receive hands on-training that will propel your career. The program is ideal for students pursuing careers in computer science, information systems or software engineering.<br /><br />You&rsquo;ll have access to our state-of-the-art training center in Decker Hall, where you can work alongside Interactive's senior test engineers and fellow technology students in a collaborative setting. <br /><br />Interactive's intern program, open to sophomores through seniors, is offered during the summer and throughout the school year with flexible scheduling options.<br /><br /></p>
<hr class="lines" />
<p class="text-big text-dark">&nbsp;</p>
<h2><strong>Current Openings&nbsp;</strong></h2>
<p class="text-big text-dark"><br /><input style="font-size: 12px; color: #ffffff; text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.3); border: none; padding: 5px; text-align: center; background-color: #3d87cf; border-radius: 3px; display: inline-block;" type="button" value="[Software Engineer, Test, Intern at Anderson University]" disabled="disabled" /><br /><br /><br /></p>
</div>
</div>
</div>
</div>
</section>
</div>
<div class="container">
<p class="copyright text-center">&copy; 2016 Interactive Intelligence</p>
</div>
</body></body></body></body>
